.col-centered{
  float: none;
  margin: 0 auto;
}

.blog-wrapper { 
  background-image: url(image_path('cover-blog.jpeg'));
  height: 100vh;
  background-size: cover;
  background-position:  center;
  text-align: center;
  overflow: scroll; 
}

.registration-button { 
 
}

