body{
  border-top: 5px solid #CCC;
  font-family: 'Donegal One', serif;
  font-size: 16px;
}

.full-width{
  width: 100%;
  margin-top: 5px; 
  margin-bottom: 5px;
}


.col-centered{
  float: none;
  margin: 0 auto;
}

.blog-wrapper { 
  background-image: url(image_path('blog-photo.jpeg'));
  height: 100vh;
  background-size: cover;
  background-position:  center;
  text-align: center;
  overflow: scroll; 
}

.registration-button { 
 
}

.list-unstyled{
  text-decoration: none;
}
