.contact-wrapper.col-md-9.col-centered
  .contact-information.col-md-11.col-centered.text-center
    %h3 Please do not hesitate to contact me at akaphilippe@outlook.com
    %h4 follow me or contact me through my social media accounts :
    .social-media
      %ul.list_unstyled
        %li{:style => "display:inline;"}
          %a.social-media-icon{:href => "https://github.com/philiboua"}
            %span.fa.fa-github
              %p GitHub
        %li{:style => "display:inline;"}
          %a.social-media-icon{:href => "https://ca.linkedin.com/in/philippeaka"}
            %span.fa.fa-linkedin
              %p linkedin
        %li{:style => "display:inline;"}
          %a.social-media-icon{:href => "https://angel.co/akka-philippe"}
            %span.fa.fa-angellist
              %p AngelList