.homepageBg
  = render 'shared/header'
  
  

  .homepageBody
    .container{style: 'width: 90%'}
      .row
        .col-md-12

          %h3.homepageTitle
            Philippe <span> AKA </span> Full stack developer
            %br/
            Just in case, <span> AKA </span>  is my real last name ;) 
