.homepageBg
  = render 'shared/header'
  
  

  .homepageBody
    .container{style: 'width: 90%'}
      .row
        .col-md-12

          %h3.homepageTitle
            Philippe <span> AKA </span> Full stack developer
            %br/
            Just in case, <span> AKA </span>  is my real last name ;) 
  
.aboutMe#about
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection
          %h3
            About Me
        .row
          .col-md-10.col-xs-12.col-centered
            %p.aboutMeBody
              Hello there! My name is Philippe <span>AKA</span>. I am a full stack developer based in Toronto, Canada. I have gained knowledge and experience writing clean semantic code, responsive web design and developed a strong interest to learn more about UX design. My interest in coding developed as a result of a passion for startups and what we can achieve with technology. 

          

.skills#skill
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection
          %h3.test
            Skills
        .row
          .col-md-10.col-xs-12.col-centered
            .skills
              %ul
                %li
                  %i.devicon-html5-plain-wordmark.mySkills.box
                %li
                  %i.devicon-css3-plain-wordmark.mySkills.box
                %li
                  %i.devicon-bootstrap-plain-wordmark.mySkills.box
                %li
                  %i.devicon-jquery-plain-wordmark.mySkills.box
                %li
                  %i.devicon-javascript-plain.mySkills.box
                %li
                  %i.devicon-sass-original.mySkills.box
                %li
                  %i.devicon-git-plain-wordmark.mySkills.box
                %li
                  %i.devicon-github-plain-wordmark.mySkills.box
                %li
                  %i.devicon-heroku-original-wordmark.mySkills.box

                %li
                  %i.devicon-rails-plain-wordmark.mySkills.box
                %li
                  %i.devicon-ruby-plain-wordmark.mySkills.box

.work#work
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection
          %h3
            Work

.contact
  .container
    .row 
      .col-md-10.col-xs-11.col-centered
        .titleSection
          %h3{"data-aos" => "fade-up"}
            Contact

        .contactLink.text-center
          = link_to "https://philippeaka.typeform.com/to/AV9HXT", class: 'hvr-buzz-out' do 
            %i.fa.fa-envelope.fa-2x.leaveMessage
            %p Leave me a message ;)

        .singleLine.text-center
          %hr/
                  


:javascript
  window.sr = ScrollReveal();

  sr.reveal('.titleSection', { origin: 'right', duration: 1000 } );
  sr.reveal('.aboutMeBody', {  origin: 'right', duration: 1700 });
  
  sr.reveal('.test', { duration: 1500 });
  sr.reveal('.box', { duration: 2000 }, 50);



%script{:src => "https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"}


:javascript
  $(document).on('click', '.scroll-top', function(event){
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
  });