.resumeBg
  .headerWp
    = render 'shared/header'
    .titlePage
      %h4.text-center
        "Everything <span class= 'red-text'> I am</span> not, made me everything <span class='red-text'> I am</span>"
      
    
