
// Index Project Page

.apps-wrapper{
  overflow: hidden;
  display: block;
  margin-top: 60px;
}

.app-details {
  display: block;
}


.app-title {
  display: block;
  width: 100%;
}


li {
  line-height: 35px;
}

.app-image-wrapper{
  margin-top: 35px;
  overflow: hidden;
}



.app-content{
  padding-top: 50px;
}

.image-app{
  width: 100%;
  max-width: 500px;
  max-height: 300px;

}