
// home index

.homepageBg{ 

  @include full-img-bg('');
  background-color: $background;
  


  @include firefox_breakpoint(md_portrait){
    
  }

  @include firefox_breakpoint(md_landscape){
    
  }

}

.resume{
  @extend .homepageBg;
  background-color: #fff;
}

.menu > ul {
  padding-left: 0px;
  margin-top: 60px;
}

.menu> ul > li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}

 .menu> ul > li  > a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    &:hover{
      text-decoration: none;
      color: #ea0001;
    }
  }

  ee

    

.homepageBody{
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  background: $background;
}

.homepageTitle {
    

    color: white;
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-top: 60px;

  @include firefox_breakpoint(xs_landscape){
    color: white;
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-bottom: 80px;
  }
  @include firefox_breakpoint(sm_portrait){
    color: white;
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-top: 140px;
  }
  @include firefox_breakpoint(sm_landscape){
    color: white;
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-top: 100px;
  }

  @include firefox_breakpoint(md_portrait){
    font-size: 3rem;
    color: white;
    line-height: 3.4rem;
    padding-bottom: 140px;
    padding-left: 50px;
  }
  @include firefox_breakpoint(md_landscape){
    font-size: 3rem;
    color: white;
    line-height: 3.4rem;
    padding-top: 360px;
    padding-left: 50px;
  }
  @include firefox_breakpoint(lg){
    font-size: 3.4rem;
    color: white;
    line-height: 4.5rem;
    padding-bottom: 140px;
    padding-left: 120px;
  }
  

}

.homepageTitle > .emphasis {
  color: $primary;
  padding-left: 5px;
  margin-right: 5px;
}

.emph{
  color: $primary;
}




.registration-button{ 
  @include button-variant(#fff,#558C89,#558C89);
  margin-top: 260px; 
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  @include firefox_breakpoint(xs_portrait){
    margin-top: 180px;
  }
  @include firefox_breakpoint(xs_landscape){
    margin-top: 100px;
  }
  
}


// About Me 

.wrapper_header{
  background-color: #ccc;
}

.content-about-me{
  padding-bottom: 100px;
  font-size: 20px;
}

.first-code { 
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
}

.digital-signature { 
  margin-top: 40px;
}


// Contact Page 



.display_inline{
  display: inline;
  margin-right: 60px;
}

.signature{
  padding-right: 20px;
}

.social-media{
  padding-top: 30px;
}

.contact-information{
  padding-top: 50px;
}

.social-media-icon{
  padding-right: 70px;
}

// Index 

.blog-wrapper { 
  background-image: url(image_path('blog-photo.jpeg'));
  height: 100vh;
  background-size: cover;
  background-position:  center;
  text-align: center;
  overflow: scroll; 
}

.titleSection > h3{
  background: $background;
  color: #fff;
  border-bottom: 5px solid $primary;
  display: inline-block;
  padding: 10px;
}

.background-section{
  background: $background;
}

.work{
  @extend .background-section;
}

.aboutMe{
  @extend .background-section;
}

.contact{
  @extend .background-section;
}

.skills {
  @extend .background-section;
}

.skillsItems > ul { padding-left: 0px; }

.skillsItems > ul > li {
  display: inline-block;
  list-style: none;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;

}

.mySkills{
  color: $primary; 
  background: $background;
  padding: 20px;
  font-size: 40px;
  margin-top: 20px;

  @include firefox_breakpoint(md_portrait){
    color: $primary; 
    background: $background;
    padding: 20px;
    font-size: 60px;
    margin-top: 20px;

  }
  @include firefox_breakpoint(md_landscape){
    color: $primary; 
    background: $background;
    padding: 20px;
    font-size: 60px;
    margin-top: 20px;

  }
}

.contactLink > a {
  font-size: 16px;
  color: white;
  @include firefox_breakpoint(md_portrait){
    font-size: 22px;
    color: white;

  }
  @include firefox_breakpoint(md_landscape){
    font-size: 22px;
    color: white;

  }
  &:hover{
    color: $primary;
    text-decoration: none;
  }
}

.contactLink{
  margin-top: 30px;
}

 hr {

  width: 200px;
  border-top: 5px solid $primary;
  margin-top: 30px;

}

.aboutMeBody{
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 36px;

  @include firefox_breakpoint(md_portrait){
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.aboutMeBody > span{
  color: $primary;
}

.resize-image{
  width: 100%;
  height: 100%;
}


.projectWp{
  margin-top: 80px;
  margin-bottom: 40px;
}

.projectOverview{
  color: #fff;
  text-align: left;
  
}

.projectOverview > h4{
  color: $primary;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.projectOverview > h5{
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
}

.projectOverview > .description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.arraySkills > ul {
  padding-left: 0px;
}

.arraySkills > ul > li {
  display: inline-block;
  list-type: none;
}

.arraySkills > ul > li > span{
  color: $primary;
  font-size: 26px !important;
}

.skillUsed{
  font-size: 26px;
}

.skillsItems{
  padding-top: 60px;

  @include firefox_breakpoint(md_portrait){
    padding-top: 80px;
  }
}

.linkWp > a {
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  &:hover{
    color: $primary;
    text-decoration: none;
    border: 2px solid $primary;
  }
}

.myName{
  display: none;
}

#contact{
  margin-bottom: 40px;
  margin-top: 60px;
}